@telefone-url: `chrome.extension.getURL("images/telefone.png")`;
// @local-url: "@{image-base-url}/local.png";
@max-image-height: 100px;


table {
	border-width: 0px;
}

#cartoes {
    border: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

#busca_cartoes {
    border: 0px;
    padding-top: 20px;
    padding-bottom: 0px;

    input {
        width: 25%;
    }
}


.cartao {
	display:inline-block;

	width: 400px;
	border:1px outset lightgray;
	border-radius: 5px;	
	margin: 2px;
    padding: 5px;
	
	background-color: #efefef;
	

	img {
		display:inline-block;
		max-width: @max-image-height;
		max-height: @max-image-height;
		padding-right: 5px;
	}
	
	.informacao {
		display:inline-block;
        vertical-align: top;


        font-size: 0.8em;
			font-family: serif;

		.principal {
			font-size: 1em;
			font-weight: bold;	
			font-family: sans-serif;
		}

		.secundaria {
			font-style: italic;
		}

		.complementar {
			
			.telefone {
				padding-left: 20px;
				background-image: url("`NO_PIC`");
				background-repeat: no-repeat;
			}
			
			.local {
				padding-left: 20px;
				//background-image: url(@local-url);
				background-repeat: no-repeat;
			}
		}
	}
	
	.qrcode {
		display:inline-block;
		padding: 5px;
		
		canvas {
			max-width: @max-image-height;
		}
	}
	
	.tooltip {
		position: absolute;
	}
}