.cartao {
	display:inline-block;
//	float:left;

	border:1px outset gray;
	border-radius: 5px;	
	width: 15em;
	

	img {
		display:inline-block;
		max-width: 64px;
		max-height: 64px;
	//	float: left;
	}
	
	.informacao {
	//	float: left;
		display:inline-block;

		
		font-size: 0.8em;
			font-family: serif;

		.principal {
			font-size: 1em;
			font-weight: bold;	
			font-family: sans-serif;
		}

		.secundaria {
			font-style: italic;
		}

		.complementar {
			
			.telefone {
				padding-left: 20px;
				background-image: url("../images/telefone.png");
				background-repeat: no-repeat;
			}
			
			.local {
				padding-left: 20px;
				background-image: url("../images/local.png");
				background-repeat: no-repeat;
			}
		}
	}
	
}