<div>
	{{#pessoas}}
	<div class="cartao">
		<img src="./images/no_pic.jpeg">
		<div class="informacao">
			<div class="principal">{{nome}}</div>
			<div class="secundaria">{{alocacao}}</div>
			<div class="complementar">
				<div class="telefone">{{ramal}}</div> 
				<div class="local">{{local}}</div>
			</div>
		</div>
		<img src="./images/qrcode.png">
	</div>
	{{/pessoas}}
</div>