<div>
	{{#pessoas}}
	<div class="cartao">
		<img src="./images/no_pic.jpeg">
		<div class="informacao">
			<div class="principal">{{nome}}</div>
			<div class="secundaria">{{lotacao}}</div>
			<div class="complementar">
				<div class="telefone">{{ramais}}</div>
				<div class="local">{{local}}</div>
			</div>
		</div>
	</div>
	{{/pessoas}}
</div>