<div class="cartao" id="{{matrícula}}">
    <img src="{{foto}}">
    <div class="informacao">
        <div class="principal">{{nome}}</div>
        <div class="secundaria">{{lotação}}</div>
        <div class="complementar">
            <div class="telefone">{{ramais}}</div>
            <div class="local">{{local/andar/sala}}</div>
        </div>
    </div>
    <div class="qrcode"></div>
    <script type="text/javascript">
        console.log('QRCode');
        jQuery('#{{matrícula}} .qrcode').each( function(index,element) {
            jQuery(element).qrcode("{{nome}} {{lotação}} {{ramais}} {{local/andar/sala}}");
        });
    </script>
</div>
